{
  "smtp": {
    "address": "mail@gmail.com",
    "password": "password",
    "server": "smtp.googlemail.com",
    "port": 465
  },
  "stripe": {
    "privateKey": "sk_test_BQokikJOvBiI2HlWgH4olfQ2" // This is a stripe demo key
  },
  "serviceAuth": {
    "google": {
      "name": "google",
      "clientId": "CLIENT_ID",
      "secret": "SECRET"
    }
  },
  "public": {
    "stripe": {
      "publicKey": "pk_test_6pRNASCoBOKtIshFeQd4XMUh" // This is a stripe demo key
    }
  }

}
