{
  "smtp": {
    "address": "mail@gmail.com",
    "password": "password",
    "server": "smtp.googlemail.com",
    "port": 465
  },
  "stripe": {
    "privateKey": "sk_test_BQokikJOvBiI2HlWgH4olfQ2" // This is a stripe demo key
  },
  "aws": {
    "accessKeyId": "ACCESSKEYID",
    "secretAccessKey": "SECRETACCESSKEY"
    "backupsBucket": "celerate-external-controller-backups"
  },
  "serviceAuth": {
    "google": {
      "name": "google",
      "clientId": "CLIENT_ID",
      "secret": "SECRET"
    }
  },
  "serverAuthToken": {
    "encryptionKey" : "", // 16 byte base64 encoded key
    "MACKey" : "", // another 16 byte base64 encoded key
    "tokenDaysValid" : 31,
    "encryptionMode" : "AES-128-CTR",
    "hashMode" : "sha1"
  },
  "public": {
    "stripe": {
      "publicKey": "pk_test_6pRNASCoBOKtIshFeQd4XMUh" // This is a stripe demo key
    },
    "urls": {
      "customerPortal": "http://localhost:3002",
      "externalController": "http://localhost:3000"
    }
  }
}
