{
  "smtp": {
    "address": "mail@gmail.com",
    "password": "password",
    "server": "smtp.googlemail.com",
    "port": 465
  },
  "mongo": {
    "mongoUrl": "mongodb://localhost:3001/appdb",
    "oplogUrl": "mongodb://localhost:3001/local"
  },
  "serviceAuth": {
    "google": {
      "name": "google",
      "clientId": "CLIENT_ID",
      "secret": "SECRET"
    }
  }
}
